# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
/dev/Moon.png
/dev/lock.png
/dev/Moon.png-autosave.kra
/dev/Sun.png
